# Introduction

Program ini dibuat untuk mengambil informasi dari website untuk dibuatkan tabel agar data bisa di analisis

# Web Scraping

In [1]:
#Rumus untuk m=mengimport software-software yang diperlukan untuk web scraping
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
import time
from scipy import stats
import numpy as np
url="https://www.tokopedia.com/search?navsource=&page=1&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st="

In [3]:
#Rumus untuk melakukan web scraping dari website tokopedia
list_tokped= []
for i in range(1,11):
    url="https://www.tokopedia.com/search?navsource=&page={}&q=seblak&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st=".format(i)
    driver = webdriver.Chrome()
    driver.get(url)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")
    for item in soup.findAll('div',{"class":"css-974ipl"}):
          Name = item.find('div',{"class":"prd_link-product-name css-3um8ox"}).text
          Price = item.find('div',{"class":"prd_link-product-price css-1ksb19c"}).text

          item3 = item.findAll('span', {"class":"prd_label-integrity css-1duhs3e"})
          if len(item3) > 0:
               Product_sold = item.find('span', {"class":"prd_label-integrity css-1duhs3e"}).text
          else:
               Product_sold = None
          item4 = item.findAll ('span', {"class":"prd_rating-average-text css-t70v7i"})
          if len(item4) > 0:
               Product_rating = item.find('span', {"class":"prd_rating-average-text css-t70v7i"}).text
          else:
               Product_rating = None
          for item2 in item.findAll('div',{"class":"css-1rn0irl"}):
               Seller = item2.findAll('span',{"class":"prd_link-shop-name css-1kdc32b flip"})[0].text
               Cities = item2.findAll('span', {"class":"prd_link-shop-loc css-1kdc32b flip"})[0].text
               list_tokped.append((Name, Price, Seller, Cities, Product_sold,Product_rating))

df = pd.DataFrame(list_tokped, columns=['Name','Price','Seller','Cities','Product sold', 'Product rating'])
df = df.drop_duplicates()
df

,Name,Price,Seller,Cities,Product sold,Product rating
0,Mommy Seblak Basah Instant 100gr,Rp10.000,emmoshop,Kab. Bogor,Terjual 2 rb+,4.9
1,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,Rp15.000,Central Seblak Nusantara,Tangerang Selatan,Terjual 1 rb+,4.9
2,SEBLAK INSTANT TERMURAH,Rp3.999,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,Terjual 10 rb+,4.8
3,seblak instant sajodo snak,Rp19.000,hikmah berkah jaya,Jakarta Barat,Terjual 750+,4.8
4,SEBLAK VIRAL - SEBLAK INSTANT - SEBLAK RAFAEL ...,Rp8.880,FARADHIFY STORE,Bekasi,Terjual 100+,4.8
...,...,...,...,...,...,...
280,KERUPUK SEBLAK 250gr / KRUPUK SEBLAK DAUN JERU...,Rp12.500,Dapur Sehat21,Kab. Bandung,Terjual 100+,4.9
281,Kerupuk Orange / Kerupuk Seblak 250gr / Kerupu...,Rp7.500,BawangBagus,Tangerang,Terjual 5,None
282,"Seblak kuah instan , Seblak khas garut b",Rp5.000,iwan resistans leather 2,Kab. Garut,Terjual 500+,4.9
283,Paket seblak sosis untuk 3 porsi,Rp29.000,Tukangsayurmbakyu,Tangerang Selatan,Terjual 8,5.0
284,Kerupuk jeblay kiloan 1 kg pedas Kerupuk seblak,Rp35.000,RIKI STORE 97,Kab. Bogor,Terjual 1,None

In [49]:
#Rumus untuk mengexport data menjadi file csv
df.to_csv('Seblak_Tokped.csv')

In [50]:
#Rumus untuk membaca kembali file yang sebelumnya di export menjadi csv
df = pd.read_csv('Seblak_Tokped.csv')

# Data Exploration

In [51]:
#Rumus untuk mengeluarkan informasi dari database
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      78 non-null     int64
 1   Name            78 non-null     object
 2   Price           78 non-null     float64
 3   Seller          78 non-null     object
 4   Cities          78 non-null     object
 5   Product sold    78 non-null     int64
 6   Product rating  78 non-null     float64
 7   Income          78 non-null     float64
dtypes: float64(3), int64(2), object(3)
memory usage: 5.0+ KB

Dari hasil pembacaan data diatas terdapat informasi bahwa semua tipe data merupakan object berarti harus diubah sesuai tipe data yang benar agar bisa diolah

In [5]:
df.columns

Index(['Name', 'Price', 'Seller', 'Cities', 'Product sold', 'Product rating'], dtype='object')

# Data Cleaning

In [6]:
#Rumus untuk menghapus Rp yang berada di dalam column Price
df['Price']= df['Price'].str.replace('Rp', '')
#Rumus untuk menghapus kata Terjual dari column Product sold
df['Product sold']= df['Product sold'].str.replace('Terjual', '')

In [7]:
#Rumus untuk mengganti kata rb menjadi angka ribuan(000) dan Rumus untuk menghapus tanda + di column Product sold
df['Product sold']= df['Product sold'].str.replace('rb', '000')
df['Product sold']= df['Product sold'].str.replace('+', '')

In [8]:
#Rumus untuk mengubah None menjadi non values
df['Product sold'] = df['Product sold'].replace('None', pd.NA)

In [9]:
#Rumus untuk menghilangkan spasi di column Product sold
df['Product sold']= df['Product sold'].str.replace(' ', '')

In [10]:
#Rumus untuk mengubah non values menjadi angka 0 serta mengubah jenis data dari object menjadi integer
df['Product sold'] = df['Product sold'].fillna(0).astype(int)

In [11]:
#Rumus untuk mengubah non values menjadi angka 0 serta mengubah jenis data dari object menjadi float
df['Product rating']= df['Product rating'].fillna(0).astype(float)

In [12]:
df

,Name,Price,Seller,Cities,Product sold,Product rating
0,Mommy Seblak Basah Instant 100gr,10.000,emmoshop,Kab. Bogor,2000,4.9
1,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,15.000,Central Seblak Nusantara,Tangerang Selatan,1000,4.9
2,SEBLAK INSTANT TERMURAH,3.999,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,10000,4.8
3,seblak instant sajodo snak,19.000,hikmah berkah jaya,Jakarta Barat,750,4.8
4,SEBLAK VIRAL - SEBLAK INSTANT - SEBLAK RAFAEL ...,8.880,FARADHIFY STORE,Bekasi,100,4.8
...,...,...,...,...,...,...
280,KERUPUK SEBLAK 250gr / KRUPUK SEBLAK DAUN JERU...,12.500,Dapur Sehat21,Kab. Bandung,100,4.9
281,Kerupuk Orange / Kerupuk Seblak 250gr / Kerupu...,7.500,BawangBagus,Tangerang,5,0.0
282,"Seblak kuah instan , Seblak khas garut b",5.000,iwan resistans leather 2,Kab. Garut,500,4.9
283,Paket seblak sosis untuk 3 porsi,29.000,Tukangsayurmbakyu,Tangerang Selatan,8,5.0
284,Kerupuk jeblay kiloan 1 kg pedas Kerupuk seblak,35.000,RIKI STORE 97,Kab. Bogor,1,0.0

In [13]:
#Rumus untuk mengubah jenis data dari object menjadi float
df['Price']= df['Price'].astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78 entries, 0 to 284
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            78 non-null     object
 1   Price           78 non-null     float64
 2   Seller          78 non-null     object
 3   Cities          78 non-null     object
 4   Product sold    78 non-null     int32
 5   Product rating  78 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 4.0+ KB

# SMART Framework

Berdasarkan data dari atas serta tujuan untuk menghasilkan pendapatan tambahan berikut merupakan goals yang di buat:

Specific: Memulai operasi penjualan seblak melalui dropshipping dan memulai promosi untuk membantu meningkatkan penjualan 

Measurable: Bisa menjual sebanyak 50 Produk perbulannya dan bisa mendapatkan visit ke halaman store sebanyak 500 perbulan 

Achievable: Menemukan supplier dengan harga murah serta menggunakan tools-tools yang bisa membantu promosi seperti sosial media, serta fitur chat dan promoted page di tokopedia bisa mendapatkan penjualan produk sebanyak 50 perbulannya serta mendapatkan leads atau calon pelanggan sebanyak 500

Relevant: Dengan menemukan supplier yang memiliki harga murah bisa meningkatkan margin penjualan agar bisa mendapatkan biaya untuk dialokasikan untuk kegiatan promosi dan marketing supaya bisa meningkatkan brand exposure agar produk dari brand kami lebih banyak diketahui pasar yang memungkinkan untuk meningkatkan penghasilan

Time Bound: Target ini di harapkan bisa di capai dalam kurun waktu 3 bulan

Smart target yang ingin dicapai adalah supaya bisa memulai operasi penjualan seblak setelah 3 bulan dengan target 50 Produk perbulan dengan menemukan supplier dengan harga murah agar mendapatkan margin harga yang tinggi dan juga memulai operasi promosi dengan target 500 visit ke halaman perbulannya dengan usaha promosi melalui sosial media, dan fitur chat serta promoted page di tokopedia untuk meningkatkan brand awareness yang bisa menambahkan jumlah leads serta potensi untuk meningkatkan pendapatan

# Statistical Analysis

Program ini dibuat untuk menganalisis data secara statistik descriptive dan inferential

In [15]:
#Rumus untuk menghitung Rata-rata dari harga
print('Average Price:',df['Price'].mean(),)
#Rumus untuk menghitung Median dari harga
print('Median of Price:',df['Price'].median(),)
#Rumus untuk menghitung Modus dari harga
print('Mode of Price:',df['Price'].mode().values[0],)

Average Price: 30.819666666666663
Median of Price: 15.0595
Mode of Price: 10.0

In [16]:
#Rumus untuk menghitung skewness dari sebuah tabel
print(f"Skewness: {df['Price'].skew()}")

Skewness: 7.918995380324876

In [17]:
#Rumus untuk menghitung kurtosis dari sebuah tabel
print(f"Kurtosis: {df['Price'].kurtosis()}")

Kurtosis: 66.8289032938714

In [18]:
#Rumus untuk menghitung Rata-rata dari produk terjual
print('Average Product sold:',df['Product sold'].mean(),)
#Rumus untuk menghitung Median dari produk terjual
print('Median of Product sold:',df['Product sold'].median(),)
#Rumus untuk menghitung Modus dari produk terjual
print('Mode of Product sold:',df['Product sold'].mode().values[0],)

Average Product sold: 518.6410256410256
Median of Product sold: 80.0
Mode of Product sold: 100

In [21]:
#Rumus untuk menghitung Rata-rata dari rating produk
print('Average Product rating:',df['Product rating'].mean(),)
#Rumus untuk menghitung Median dari rating produk
print('Median of Product rating:',df['Product rating'].median(),)
#Rumus untuk menghitung Modus dari rating produk
print('Mode of Product rating:',df['Product rating'].mode().values[0],)

Average Product rating: 4.144871794871794
Median of Product rating: 4.9
Mode of Product rating: 4.9

In [22]:
#Rumus untuk menentukan upper boundary serta lower boundary untuk column price
q1 = df['Price'].quantile(0.25)
q3 = df['Price'].quantile(0.75)
iqr = q3-q1

up_bound = q3 + 1.5*iqr
low_bound = q1 - 1.5*iqr

print(f'Upper Boundary: {up_bound:.2f}' )
print(f'Lower Boundary: {low_bound:.2f}')

Upper Boundary: 49.94
Lower Boundary: -14.56

In [23]:
#Rumus untuk menentukan upper boundary serta lower boundary untuk column product terjual
q1 = df['Product sold'].quantile(0.25)
q3 = df['Product sold'].quantile(0.75)
iqr = q3-q1

up_bound = q3 + 1.5*iqr
low_bound = q1 - 1.5*iqr

print(f'Upper Boundary: {up_bound:.2f}' )
print(f'Lower Boundary: {low_bound:.2f}')

Upper Boundary: 602.50
Lower Boundary: -337.50

Dari hasil data tersebut, di bagian central tendencies menunjukan bahwa data berada di dalam positive skewness dikarenakan hasil mean yang paling tinggi dilanjuti oleh median dan modus. Lalu di bagian skewness juga menunjukan hasil diatas 1 yang menunjukan bahwa distribusi data sangat skew atau tidak normal

In [24]:
#Rumus untuk menentukan deskripsi dari database
df.describe()

            Price  Product sold  Product rating
count   78.000000     78.000000       78.000000
mean    30.819667    518.641026        4.144872
std     79.538754   1504.876066        1.781773
min      3.000000      0.000000        0.000000
25%      9.624750     15.000000        4.800000
50%     15.059500     80.000000        4.900000
75%     25.750000    250.000000        5.000000
max    699.000000  10000.000000        5.000000

In [25]:
df

,Name,Price,Seller,Cities,Product sold,Product rating
0,Mommy Seblak Basah Instant 100gr,10.000,emmoshop,Kab. Bogor,2000,4.9
1,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,15.000,Central Seblak Nusantara,Tangerang Selatan,1000,4.9
2,SEBLAK INSTANT TERMURAH,3.999,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,10000,4.8
3,seblak instant sajodo snak,19.000,hikmah berkah jaya,Jakarta Barat,750,4.8
4,SEBLAK VIRAL - SEBLAK INSTANT - SEBLAK RAFAEL ...,8.880,FARADHIFY STORE,Bekasi,100,4.8
...,...,...,...,...,...,...
280,KERUPUK SEBLAK 250gr / KRUPUK SEBLAK DAUN JERU...,12.500,Dapur Sehat21,Kab. Bandung,100,4.9
281,Kerupuk Orange / Kerupuk Seblak 250gr / Kerupu...,7.500,BawangBagus,Tangerang,5,0.0
282,"Seblak kuah instan , Seblak khas garut b",5.000,iwan resistans leather 2,Kab. Garut,500,4.9
283,Paket seblak sosis untuk 3 porsi,29.000,Tukangsayurmbakyu,Tangerang Selatan,8,5.0
284,Kerupuk jeblay kiloan 1 kg pedas Kerupuk seblak,35.000,RIKI STORE 97,Kab. Bogor,1,0.0

Pada bagian ini, kita ingin menentukan berapa potensi minimum serta maksimum dari pendapatan penjualan seblak perbulannya

In [27]:
#Rumus untuk membuat column baru yaitu column income atau pendapatan
df['Income']= df['Price'] * df['Product sold']
df

,Name,Price,Seller,Cities,Product sold,Product rating,Income
0,Mommy Seblak Basah Instant 100gr,10.000,emmoshop,Kab. Bogor,2000,4.9,20000.0
1,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,15.000,Central Seblak Nusantara,Tangerang Selatan,1000,4.9,15000.0
2,SEBLAK INSTANT TERMURAH,3.999,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,10000,4.8,39990.0
3,seblak instant sajodo snak,19.000,hikmah berkah jaya,Jakarta Barat,750,4.8,14250.0
4,SEBLAK VIRAL - SEBLAK INSTANT - SEBLAK RAFAEL ...,8.880,FARADHIFY STORE,Bekasi,100,4.8,888.0
...,...,...,...,...,...,...,...
280,KERUPUK SEBLAK 250gr / KRUPUK SEBLAK DAUN JERU...,12.500,Dapur Sehat21,Kab. Bandung,100,4.9,1250.0
281,Kerupuk Orange / Kerupuk Seblak 250gr / Kerupu...,7.500,BawangBagus,Tangerang,5,0.0,37.5
282,"Seblak kuah instan , Seblak khas garut b",5.000,iwan resistans leather 2,Kab. Garut,500,4.9,2500.0
283,Paket seblak sosis untuk 3 porsi,29.000,Tukangsayurmbakyu,Tangerang Selatan,8,5.0,232.0
284,Kerupuk jeblay kiloan 1 kg pedas Kerupuk seblak,35.000,RIKI STORE 97,Kab. Bogor,1,0.0,35.0

In [35]:
#Rumus confidence interval untuk menentukan potensi minimal serta maksimal penjualan di column Income
std = df['Income'].std()
N = len(df)
low, up = stats.norm.interval(0.95,loc=df['Income'].mean(),scale=std/np.sqrt(N))
print('Lower Limit:',low)
print('Upper Limit:',up)

Lower Limit: 3006.6423818235107
Upper Limit: 19849.872951509824

Dari hasil ini, dapat dilihat berdasarkan kalkulasi data bahwa potensi minimum penghasilan adalah sekitar 3 juta rupiah sementara maksimal penghasilan sekitar 19 juta rupiah.

Dalam bagian ini, program dibuat untuk menentukan apakah harga seblak di jabodetabek sama dengan harga seblak diluar jabodetabek apa lebih mahal berhubung suplly di luar daerah jabodetabek biasanya lebih murah.


Maka dibuat lah 2 hypothesis untuk menemukan jawaban dari pertanyaan diatas

H0: Harga barang di Jabodetabek dengan harga di luar jabodetabek tidak ada perbedaan

H1: Harga barang di Jabodetabek dengan harga di luar Jabodetabek memiliki perbedaan yang besar

In [37]:
df['Cities'].unique()

array(['Kab. Bogor', 'Tangerang Selatan', 'Jakarta Timur',
       'Jakarta Barat', 'Bekasi', 'Surakarta', 'Kab. Bekasi', 'Surabaya',
       'Jakarta Selatan', 'Bandung', 'Jakarta Pusat', 'Kab. Garut',
       'Depok', 'Kab. Bantul', 'Kab. Bandung', 'Sukabumi', 'Tangerang',
       'Kab. Tasikmalaya', 'Kab. Tangerang', 'Semarang',
       'Kab. Bandung Barat', 'Denpasar', 'Cimahi'], dtype=object)

In [38]:
#Rumus untuk menentukan Kota-kota yang termasuk dalam wilayah jabodetabek
Kota = ['Tangerang Selatan', 'Jakarta Selatan', 'Kab. Bogor', 'Jakarta Timur', 'Jakarta Barat', 'Bekasi','Kab. Bekasi', 'Tangerang', 'Kab. Tangerang', 'Jakarta Pusat', 'Depok']
#Rumus untuk membuat database yang hanya berisi kota di Jabodetabek
Jabodetabek = df[df['Cities'].isin(Kota)]

In [39]:
Jabodetabek.head()

,Name,Price,Seller,Cities,Product sold,Product rating,Income
0,Mommy Seblak Basah Instant 100gr,10.000,emmoshop,Kab. Bogor,2000,4.9,20000.0
1,Seblak Instan Ceu Nthien Khas Bandung Rasana N...,15.000,Central Seblak Nusantara,Tangerang Selatan,1000,4.9,15000.0
2,SEBLAK INSTANT TERMURAH,3.999,Pusat Cuankie & Cemilan Frozen,Jakarta Timur,10000,4.8,39990.0
3,seblak instant sajodo snak,19.000,hikmah berkah jaya,Jakarta Barat,750,4.8,14250.0
4,SEBLAK VIRAL - SEBLAK INSTANT - SEBLAK RAFAEL ...,8.880,FARADHIFY STORE,Bekasi,100,4.8,888.0

In [ ]:
#Rumus untuk membuat database yang hanya berisi kota diluar Jabodetabek
Luar_Jabodetabek = df[~df['Cities'].isin(Kota)]

In [41]:
Luar_Jabodetabek.head()

,Name,Price,Seller,Cities,Product sold,Product rating,Income
5,SEBRING KRUPUK KERUPUK SEBLAK KERING PEDAS DAU...,16.000,Aydaa Snack,Surakarta,40,4.9,640.0
8,GURILEM MINI 1KG Siomay Kering Toping Baso Aci...,29.999,Pedas Gilaa,Surabaya,500,4.9,14999.5
17,Kerupuk Aci Mawar | Kerupuk Mawar Putih | Sebl...,7.999,Toko NRV Plastik dan Bahan Kue,Bandung,100,5.0,799.9
23,Seblak Instan Komplit Pedas Gurih Nikmat,5.999,Baso Aci Ayang,Kab. Garut,2000,4.9,11998.0
76,Seblak Instan Sehati,13.000,Official Kartika Sari,Bandung,500,5.0,6500.0

In [42]:
#Rumus untuk menghitung P value serta T statistik diantara harga barang di Jabodetabek dan di luar Jabodetabek
t_stat, p_val =stats.ttest_ind(Jabodetabek['Price'], Luar_Jabodetabek['Price'])

print('T-Statistics:', t_stat)
print('P Value:', p_val)

T-Statistics: 0.709712833012045
P Value: 0.4800540824016609

Dari hasil data ini, bisa di ambil kesimpulan bahwa Harga barang di Jabodetabek dan diluar Jabodetabek tidak memiliki perbedaan yang signifikan karena dari hasil P value yang berada diatas 0.05 maka dari itu H0 diterima

Pada bagian ini, kita ingin menemukan apakah pelanggan cenderung lebih suka produk dengan harga murah atau tidak?

Untuk mengetahui jawaban pertanyaan tersebut kita menentukan hypothesis yaitu:

H0: Harga barang yang lebih murah tidak memiliki pengaruh terhadap total barang yang terjual

H1: Harga barang yang lebih murah memiliki pengaruh terhadap total barang yang terjual

In [43]:
#Rumus untuk menghitung korelasi antara harga dan barang terjual
corr_r, pval_p = stats.pearsonr(df['Price'], df['Product sold'])

In [54]:
print(f"r-correlation: {corr_r:.2f}, p-value: {pval_p}")

r-correlation: -0.04, p-value: 0.7375020590218542

Berdasarkan hasil tersebut, dapat ditemukan bahwa Harga tidak memiliki korelasi yang signifikan dengan total barang terjual dikarenakan hasil P-Value yang berada diatas 0.05 maka dari itu H0 diterima

# Kesimpulan

Berdasarkan hasil analisis data, serta target dari SMART Framework. untuk mencapai hasil penjualan 50 seblak perbulan itu sangat memungkinkan median produk terjual berada pada nilai 80 produk terjual serta modus berada dalam nilai 100, target bisa tercapai bahkan terlampauai asalkan operasi promosi juga berjalan dengan baik. Setelah itu dalam rangka mencari supplier, lokasi tidak terlalu berpengaruh besar dikarenakan harga barang yang tidak berbeda diantara daerah Jabodetabek dengan diluar Jabodetabek jadi masih memungkinkan untuk menemukan supplier daerah Jabodetabek dengan harga yang tidak tinggi dan serta bermanfaat karena mengurangi ongkir dari lokasi yang lebih dekat.

Dalam penentuan harga juga ditemukan berdasarkan analisis bahwa harga yang murah tidak menjamin penjualan produk yang lebih banyak maka dari itu kita bisa menentukan harga produk sekitar harga rata-rata atau bahkan lebih lalu berdasarkan perhitungan data, ditemukan juga bahwa potensi pendapatan minimum berada sekitar dinilai 3 juta maka dari itu dengan harga yang menengah atau tinggi untuk kedepannya. 

Dapat disimpulkan bahwa usaha seblak merupakan usaha yang memiliki potensi besar dikarenakan harga barang yang murah sehingga memungkinkan untuk usaha dropshipping untuk penghasilan tambahan dan dengan goal yang ditentukan melalu SMART serta data-data yang tersedia, goal tersebut sangat memungkinkan untuk dicapai dalam kurun waktu 3 bulan dan operasi penjualan seblak pun bisa berjalan dengan lancar dan menguntungkan